$dark: #2d2d2d;
$darker: #222222;
$light: #f1f1f1;
$white: #ffffff;

$primary: #2194ff;
$primarydark: #108cff;
$primarylight: #81c0fb;

$accent: #ff6421;
$accentdark: #bf9d17;
$accentlight: #ff283d;
$navydark: #1b2639;

$yellow: #ffe600;
$yellowdark: #ecc91a;

$bg1: #f8fdff;
$bg2: #e5f7fd;
$bg3: #c5ecfb;
$bg4: #99def8;
$bg5: #61cdf5;
$bg6: #33bef2;
$bg7: #10b3f0;
$bg8: #00aeef;
$bg9: #03a1dc;

$bgdark: #0e739a;
$bgdarker: #174f65;
$bgdarkest: #1e3540;

$bgneutral: #b0bec5;
$neutrallight: #f5e19a;
$neutral: #c7b299;

$error: #ed1b34;

$overlay10: #ffffff1a;
$overlay20: #f1f1f14d;
$overlay30: #f1f1f133;
$overlay70: #2d2d2d7f;
