@use '/src/sass/base/variables.scss' as *;
@use '/src/sass/base/mixins.scss' as *;

.footer {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    // .footer__container
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    //.footer__wrapper
    &__wrapper {
        grid-column: 1 / 3;
        height: 488px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: 33px;
        overflow: hidden;
        background: $light;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    }
    //.footer__inner
    &__inner {
        padding: 40px;
    }
    // .footer__title
    &__title {
        color: $primary;
        font-size: 36px;
        letter-spacing: 1.8px;
        text-transform: uppercase;
    }
    // .footer__text
    &__text {
        margin-top: 16px;
        color: $navydark;
        font-family: 'Open Sans';
        font-size: 18px;
        letter-spacing: 0.9px;
        text-transform: uppercase;
    }
    //.footer__hr
    &__hr {
        margin-top: 21px;
        margin-bottom: 0px;
        height: 1px;
        background: rgba(27, 38, 57, 0.2);
        border: none;
    }
    // .footer__contacts
    &__contacts {
    }
    // .footer__subtitle
    &__subtitle {
        margin-top: 31px;
        color: $primary;
        font-family: 'Open Sans';
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
    }
    // .footer__address
    &__address {
        margin-top: 3px;
        color: $navydark;
        font-family: 'Open Sans';
        font-size: 18px;
        font-style: normal;
    }

    // .footer__phone-label
    &__phone-label {
        margin-top: 45px;
        color: $primary;
        font-family: 'Open Sans';
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
    }
    // .footer__phone-link
    &__phone-link {
        display: inline-block;
        margin-top: 3px;
        color: $navydark;
        font-family: 'Open Sans';
        font-size: 18px;
    }
    // .footer__map
    &__map {
        height: 100%;
    }
    // .footer__link
    &__link {
        margin-top: 40px;
        margin-left: 32px;
        color: $light;
        font-family: 'Open Sans';
        font-size: 14px;
        text-decoration-line: underline;
        text-decoration-skip-ink: none;
        &--right {
            margin-left: unset;
            margin-right: 32px;
            justify-self: end;
        }
    }
}
