@use '/src/sass/base/mixins.scss' as *;
@use '/src/sass/base/variables.scss' as *;

.header {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    // .header__container
    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    // .header__logo-wrapper
    &__logo-wrapper {
        display: flex;
        gap: 21px;
    }
    // .header__logo-element
    &__logo-element {
        margin-top: 18px;
        flex-basis: 269px;
        flex-shrink: 0;
    }
    // .header__logo-separator
    &__logo-separator {
        margin-top: 61px;
        width: 1px;
        height: 33px;
        background-color: $white;
    }
    // .header__logo-title
    &__logo-title {
        margin-top: 60px;
        flex-basis: 189px;
        font-family: 'Open Sans';
        color: $primary;
        font-style: italic;
        line-height: 18px;
    }
    // .header__contact-wrapper
    &__contact-wrapper {
        margin-top: 24px;
        flex-basis: 214px;
        display: flex;
        align-content: start;
        flex-wrap: wrap;
        gap: 5px;
    }
    // .header__contacts-phone
    &__contacts-phone {
        color: $light;
        font-size: 24px;
    }
    // .header__contacts-question
    &__contacts-question {
        flex-basis: 100%;
        a {
            color: $primary;
            font-family: 'Open Sans';
            font-weight: 700;
            text-decoration-line: underline;
            text-decoration-skip-ink: none;
        }
    }
}

@media (max-width: 509px) {
    .header {
        &__container {
            justify-content: center;
        }
        &__logo-separator {
            display: none;
        }
        &__contact-wrapper {
            justify-content: center;
        }
        &__logo-title {
            display: none;
        }
        &__contacts-question {
            text-align: center;
        }
    }
}
